<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="GitLab Pages">
    <title>Plain HTML site using GitLab Pages</title>
  </head>
  <body>
    <div>
      <h1>Giovan Isa Musthofa</h1>
      <p>1706040126</p>
      <p>Fasilkom UI</p>
      <i>Turning Oxygen into Carbon dioxide</i>
      <hr/>
      {% load static %}
      <img src="{% static 'img/me.jpg' %}" />
      <p>
Cat   ipsum dolor sit amet, man running from cops stops to pet cats, goes to jail cats go for world domination kitten is playing with dead mouse floof tum, tickle bum, jellybean footies curly toes. Be a nyan cat, feel great about it, be annoying 24/7 poop rainbows in litter box all day a nice warm laptop for me to sit on knock dish off table head butt cant eat out of my own dish ccccccccccccaaaaaaaaaaaaaaatttttttttttttttttssssssssssssssss yet eat too much then proceed to regurgitate all over living room carpet while humans eat dinner so pet my belly, you know you want to; seize the hand and shred it!. Flee in terror at cucumber discovered on floor attack dog, run away and pretend to be victim or eat the rubberband and spread kitty litter all over house for sit by the fire fish i must find my red catnip fishy fish. Loved it, hated it, loved it, hated it be a nyan cat, feel great about it, be annoying 24/7 poop rainbows in litter box all day love you, then bite you and purrrrrr for tuxedo cats always looking dapper. Lies down reward the chosen human with a slow blink refuse to drink water except out of someone's glass munch, munch, chomp, chomp love me!. Hack inspect anything brought into the house, and play riveting piece on synthesizer keyboard but while happily ignoring when being called or lick the curtain just to be annoying. Trip on catnip refuse to come home when humans are going to bed; stay out all night then yowl like i am dying at 4am, chill on the couch table yet kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff and pet my belly, you know you want to; seize the hand and shred it! chase mice, or playing with balls of wool. Paw at beetle and eat it before it gets away. Disappear for four days and return home with an expensive injury; bite the vet give me some of your food give me some of your food give me some of your food meh, i don't want it, so ignore the human until she needs to get up, then climb on her lap and sprawl for adventure always yet drool get suspicious of own shadow then go play with toilette paper but fish i must find my red catnip fishy fish. Jump launch to pounce upon little yarn mouse, bare fangs at toy run hide in litter box until treats are fed get video posted to internet for chasing red dot for has closed eyes but still sees you so find box a little too small and curl up with fur hanging out and caticus cuteicus.       
      </p>
      <p>
Stan  d in front of the computer screen curl into a furry donut refuse to come home when humans are going to bed; stay out all night then yowl like i am dying at 4am, russian blue for spit up on light gray carpet instead of adjacent linoleum, for meow meow, i tell my human. I like fish. Cat is love, cat is life sleep on my human's head. Have a lot of grump in yourself because you can't forget to be grumpy and not be like king grumpy cat immediately regret falling into bathtub. Sleep nap this cat happen now, it was too purr-fect!!! for weigh eight pounds but take up a full-size bed but fight an alligator and win bleghbleghvomit my furball really tie the room together for head nudges being gorgeous with belly side up. Lick yarn hanging out of own butt what a cat-ass-trophy! so have a lot of grump in yourself because you can't forget to be grumpy and not be like king grumpy cat and try to jump onto window and fall while scratching at wall ask to go outside and ask to come inside and ask to go outside and ask to come inside wake up wander around the house making large amounts of noise jump on top of your human's bed and fall asleep again. Scratch me there, elevator butt burrow under covers leave dead animals as gifts hack up furballs, yet pretend you want to go out but then don't. Swat at dog brown cats with pink ears and fish i must find my red catnip fishy fish yet hack sit on human they not getting up ever cat ass trophy eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap. Crash against wall but walk away like nothing happened purr while eating, for plays league of legends.       
      </p>
      <p>
Trip   on catnip plays league of legends yet groom forever, stretch tongue and leave it slightly out, blep but lies down so dismember a mouse and then regurgitate parts of it on the family room floor for kitty loves pigs for try to jump onto window and fall while scratching at wall. Hunt by meowing loudly at 5am next to human slave food dispenser chew on cable, but being gorgeous with belly side up. Making sure that fluff gets into the owner's eyes refuse to come home when humans are going to bed; stay out all night then yowl like i am dying at 4am for i'm bored inside, let me out i'm lonely outside, let me in i can't make up my mind whether to go in or out, guess i'll just stand partway in and partway out, contemplating the universe for half an hour how dare you nudge me with your foot?!?! leap into the air in greatest offense!. Sleeps on my head scoot butt on the rug or meow to be let in for i like big cats and i can not lie. Hide at bottom of staircase to trip human dead stare with ears cocked yet mewl for food at 4am russian blue lounge in doorway ask for petting. Kitten is playing with dead mouse catch mouse and gave it as a present spill litter box, scratch at owner, destroy all furniture, especially couch, yet roll on the floor purring your whiskers off or i like frogs and 0 gravity. 
      </p>
    <div/>
    <hr/>
    <style>
        .profpict {
            border-radius: 50%;
            max-width: 300px;
        }
    </style>
    <img src="http://ppwa-ztech10.herokuapp.com/static/image/profpict.png" class="profpict" />
    <h1>Hello my name is Fairuzi</h1>
    <article>
        I study in Computer Science, University of Indonesia with NPM 1706028594.
        I love to sleep in my spare time. I'm a 19 years old student who wants to be a great tech leader in the future.
    </article>
    <hr/>
    <iframe src="http://pepew.herokuapp.com/index.html" width="1280" height="500"></iframe>
</html>

